* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background: rgba(0,0,0,0);
    border: rgba(0,250,0,1);
    box-shadow: none;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#pulseaudio:hover {

}

#workspaces {
    border-radius: 0px 0px 10px 0px;

    transition:none;
}
#workspaces button {
    padding: 0 5px;

    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(120, 120, 120, 0.2);
}

#workspaces button.active {
    color: #ffffff;

    font-weight: 900
}

#workspaces button.urgent {
    background-color: @red;
    border-radius: 20px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#battery,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
    padding: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
color:#ffffff;

font-weight:500;
border-radius: 0px 0px 15px 15px;
padding-left: 10px;
padding-right: 10px;
}

#battery {

    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
color:#ffffff;

font-weight:500;
}

#network.disconnected {
color:#ffffff;
    background-color: @red;
font-weight:500;
}

#pulseaudio {
padding-left: 10px;
color:#ffffff;

font-weight:500;
border-radius:0px 0px 0px 15px
}

#pulseaudio.muted {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
}

#tray {

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

